.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret

.vagrant
id_rsa
id_rsa.pub

# Ignore workspace sub directories
workspace/*
!workspace/.gitkeep

home/.virtualenvs/*
!home/.virtualenvs/.gitkeep


.DS_Store

*.sublime-project
*.sublime-workspace

# docs
_build
_deploy

# travis-build
README.rst
.travis.yml
