# pip requirements for docs generation
# pip install -r docs/requirements.txt

Sphinx
sphinx-autobuild

# tempory fix for https://github.com/lepture/python-livereload/issues/132
git+https://github.com/hoatle/python-livereload.git#master

